.card {
  padding: 8px 16px;
  border: 1px solid #222222;
  border-radius: 6px;
  margin: 16px 0;
  display: flex;

  .text {
    margin-right: 26px;
  }
}

.btn {
  background: none;
  //   border: 1px solid #4e4949;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  margin: 6px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.btn--checkbox {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    display: block;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid #222222;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.6;
      -webkit-transition: all 0.12s, border-color 0.08s;
      transition: all 0.12s, border-color 0.08s;
    }

    &.selected::before {
      width: 15px;
      top: -7px;
      left: 7px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &.btn--add {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    display: block;

    &::before,
    &::after {
      border-width: 1px;
      border-color: transparent;
      border-style: solid;
      transition: all 0.3s ease;
    }

    &:hover::before,
    &:hover::after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &::before {
      content: "";
      border-left-color: #222222;
      width: 1px;
      height: 30px;
      top: 0;
      left: 14px;
      position: absolute;
    }

    &::after {
      content: "";
      border-bottom-color: #222222;
      width: 30px;
      height: 1px;
      top: 14px;
      left: 0;
      position: absolute;
    }

    &.animation::before,
    &.animation::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.animation::before {
      top: 0px;
      left: 20px;
    }

    &.animation::after {
      width: 15px;
      top: 18px;
      left: -4px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  .wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 26px;
  }
}

a {
  text-decoration: none;
  color: #222222;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #adadad;
  transition: all 0.3s ease;

  &:focus {
    border-bottom-color: #222222;
  }
}

.header-text {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 400;
  display: block;
}
